body,
input,
textarea {
  font-family: "Open Sans Condensed";
}

body,
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  width: 65px;
  height: 65px;
}

.hidden {
  display: none !important;
}

.centered-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.space-between {
  justify-content: space-between !important;
}

.space-sround {
  justify-content: space-around !important;
}

.absolute-position {
  margin-top: 70px;
  position: absolute;
}

.wide {
  width: 100%;
  padding: 1em;
}

.bold-border {
  border-width: 2px;
}

@media (max-width: 480px) {
  .logo {
    width: 40px;
    height: 40px;
  }
}
