body {
  padding: 0;
  font-family: "Open Sans Condensed, Ubuntu Condensed, Roboto Condensed";
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.logo {
  width: 65px;
  height: 65px;
}
